streamlit
pandas
pydantic
chromadb
sentence-transformers
pysqlite3-binary  # CRÍTICO: Parche para que ChromaDB funcione en la nube
rdflib
pyshacl
ydata-profiling
streamlit-pandas-profiling
lxml
openpyxl
